{% extends "base.html" %}

{% block title %}
Article details
{% endblock %}

{% block content %}

<h1>{{ article.headline }}</h1>

<h2>Authors</h2>
<ul>
  {% for author in article.authors.all %}
  <li>
    <a href="{% url 'publications:author_detail' author.id %}">{{ author.first_name }} {{ author.last_name }}</a>, 
  </li>
  {% endfor %}
</ul>

<h2>Abstract</h2>
{{ article.abstract }}

<h2>Abstract in English</h2>
{{ article.abstract_en }}

<h2>Submission Date</h2>
{{ article.submit_date }}

<h2>Download</h2>
<a href="{{ MEDIA_URL }}{{ article.article_file }}">Document</a>

{% endblock %}
