{% extends "base.html" %}

{% block title %}
Submit publication
{% endblock %}

{% block content %}

<a href="#authorlist" data-toggle="modal">Pop up</a>

<form action="." method="post">
{% csrf_token %}

{{ form.as_p }}
<input type="submit" value="Submit" />
</form>


  <div class="modal fade" id="authorlist" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">
            <h4>Select author</h4>
          </div>

          <div class="modal-body">
            <object data="{% url 'publications:authorindex' %}"></object>
          </div>

          <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Close</a>
            <button class="btn btn-primary" type="submit">Select</button>
          </div>

        </form>

      </div>
    </div>
  </div>

{% endblock %}
