{% extends "base.html" %}

{% load i18n %}
{% load l10n %}
{% trans alert %}


{% block title %}
Article list
{% endblock %}

{% block content %}

<form class="form-search">

  {% csrf_token %}

  <input type="text" name="search" class="search-query">
  <button class="btn" type="submit">{% trans "Search" %}</button>
</form>


{% if article_list %}

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans "Headline" %}</th>
            <th>{% trans "Authors" %}</th>
            <th>{% trans "Submit date" %}</th>
          </tr>
        </thead>
        <tbody>

    {% for article in article_list %}
        <tr>

          <td>
            <a href="{% url 'publications:article_detail' article.id %}">{{ article.headline }}</a>
          </td>

          <td>
          {% for author in article.authors.all %}
            <a href="{% url 'publications:author_detail' author.id %}">{{ author.last_name }}</a>, 
          {% endfor %}
          </td>

          <td>
            {{ article.submit_date }}
          </td>

        </tr>
    {% endfor %}

        </tbody>
      </table>
    </div>

{% if is_paginated %}

<div class="container">

  <ul class="pager">
    {% if page_obj.has_previous %}
    <li class="previous">
      <a href="?page={{ page_obj.previous_page_number }}">&larr; {% trans "Previous" %}</a>
    </li>
    {% else %}
    <li class="previous disabled">
      <a href="#">&larr; {% trans "Previous" %}</a>
    </li>
    {% endif %}

    <li>
      {% blocktrans with cur_page=page_obj.number total=page_obj.paginator.num_pages %}Page {{ cur_page }} of {{ total }}{% endblocktrans %}
    </li>

    {% if page_obj.has_next %}
    <li class="next">
      <a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %} &rarr;</a>
    </li>
    {% else %}
    <li class="next disabled">
      <a href="#">{% trans "Next" %} &rarr;</a>
    </li>
    {% endif %}
  </ul>

</div>

{% endif %}

{% else %}
    <p>No articles found.</p>
{% endif %}

{% endblock %}
