{% extends "base.html" %}

{% load i18n %}
{% load l10n %}
{% trans alert %}

{% block additional_head %}
{{ wizard.form.media }}
{% endblock %}

{% block header_scripts %}
{% endblock %}

{% block title %}
Add new author
{% endblock %}

{% block content %}

<div class="lead">
{% blocktrans with cur_step=wizard.steps.step1 total=wizard.steps.count %}Step {{ cur_step }} of {{ total }}{% endblocktrans %}
</div>

<form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}


  {{ wizard.management_form }}

  {% for error in form.non_field_errors %}
    <div class="danger">{{ error|escape }}</div>
  {% endfor %}

<div class="extraPersonTemplate">

  {% for field in wizard.form %}
    
    {% if field.errors %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}

      <label for="{{ field.auto_id}}" class="col-sm-2 control-label">{{ field.label }}</label>
      <div class="col-sm-10">
        <input 
           class="form-control" 
           id="{{ field.auto_id }}"
           name="{{ field.html_name }}[]" 
           type="{{ field.field.widget.input_type }}"
           value="{{ field.value | default_if_none:"" }}">
        {% for error in field.errors %}
          <span class="help-block">{{ error|escape }}</span>
        {% endfor %}
      </div>
    </div>

    {% endfor %}

</div>

<div id="personContainer"></div>

<a href="#" id="addRow">
<i class="icon-plus-sign icon-white"></i> 
Add another family member
</a>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">

  {% if wizard.steps.prev %}
    <button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "First step" %}</button>
    <button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Prev step" %}</button>
  {% endif %}

    <button type="submit" class="btn btn-primary">{% trans "Next step" %}</button>
  </div>
</div>

</form>

{% endblock %}

{% block footer_scripts %}
<script>

$(document).ready(function () {
     $('<div/>', {
         'class' : 'extraPerson', html: GetHtml()
     }).appendTo('#personContainer');
     $('#addRow').click(function () {
           $('<div/>', {
               'class' : 'extraPerson', html: GetHtml()
     }).hide().appendTo('#personContainer').slideDown('slow');
         
     });
 })

function GetHtml()
{
    var len = $('.extraPerson').length;
    var $html = $('.extraPersonTemplate').clone();
/*
    if(len > 0)
    {
      $html.find('[name=authors-first_name]')[0].name="authors-first_name" + len;
      $html.find('[name=authors-last_name]')[0].name="authors-last_name" + len;
      $html.find('[name=authors-email]')[0].name="authors-email" + len;
    }
*/
    return $html.html();    
}
</script>
{% endblock %}
