{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'publications/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'publications/webmail.css' %}" />
  <script type="text/javascript" charset="utf-8" src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>

  {% block scripts %} {% endblock %}

  <title>{% block title %}Salutem Journal{% endblock %}</title>
</head>

<body>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
