{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load custom_tags %}
{% trans alert %}


<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Salutem Journal{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'publications/styles.css' %}" />

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  {% block additional_head %}
  {% endblock %}

  {% block header_scripts %}
  {% endblock %}

</head>

<body>
  {% block header %}

  <div class="navbar navbar-inverse navbar-static-top">
  <!-- <div class="navbar navbar-inverse"> -->

    <div class="container">

    <div class="navbar-brand">Salutem</div>

    <button class="navbar-toggle" data-toggle="collapse" data-target=".nav-header-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse nav-header-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="{% active_page request 'home' %}"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
        <li class="{% active_page request 'articleindex' %}"><a href="{% url 'publications:articleindex' %}">{% trans "Publications" %}</a></li>
        <li class="{% active_page request 'authorindex' %}"><a href="{% url 'publications:authorindex' %}">{% trans "Authors" %}</a></li>
        <li class="{% active_page request 'article_add' %}"><a href="{% url 'publications:article_add' %}">{% trans "Submit publication" %}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Languages <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <li {% if language.code == LANGUAGE_CODE %} class="active"{% endif %}>
              <a href="/{{ language.code }}/">{{ language.name_local }} ({{ language.code }})</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="#">{% trans "About" %}</a></li>
        <li><a href="#contact" data-toggle="modal">{% trans "Contact us" %}</a></li>
      </ul>
    </div>

  </div>

  </div>

  {% endblock %}

  <div class="container">
  {% block content %}
  {% endblock %}
  </div>

  {% block footer %}
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">&copy; Copyright 2014 by Salutem Journal &reg;. ISSN: xxx-xxxX</p>
      <a href="#" class="navbar-btn btn-danger btn pull-right">Follow on Google+</a>
    </div>
  </div>
  {% endblock %}

  <div class="modal fade" id="contact" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <form class="form-horizontal">

          <div class="modal-header">
            <h4>Contact Salutem Journal Team</h4>
          </div>

          <div class="modal-body">

            <div class="form-group">
              <label for="contact-name" class="col-lg-2 control-label">Name:</label>
              <div class="col-lg-10">
                <input type="email" class="form-control" id="contact-name" placeholder="Full name">
              </div>
            </div>

            <div class="form-group">
              <label for="contact-email" class="col-lg-2 control-label">Email:</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="contact-email" placeholder="you@example.com">
              </div>
            </div>

            <div class="form-group">
              <label for="contact-msg" class="col-lg-2 control-label">Message:</label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="8" id="contact-msg"></textarea>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Close</a>
            <button class="btn btn-primary" type="submit">Send message</button>
          </div>

        </form>

      </div>
    </div>
  </div>

  <!-- JavaScript placed at the end of the document so the pages load faster -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  {% block footer_scripts %}
  {% endblock %}

</body>
</html>
