{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!--
<center>
  <img width="50%" src="{% static 'publications/images/cover.jpg' %}" alt="cover">
</center>
-->
<div class="jumbotron text-center">
  <h1>Salutem Journal</h1>
  <p>Open publication platform for scientific medical articles<br>
  ISSN: xxx-xxxX<br>
  Universal Impact Factor {UIF} for year 2014 is: <br> 0.00</p>
  <p>
    <a href="#" class="btn btn-info btn-lg" role="button">Learn more</a>
    <a href="#" class="btn btn-primary btn-lg" role="button">Submit publication</a>
    <a href="#" class="btn btn-primary btn-lg" role="button">Browse publications</a>
  </p>
</div>
<!--
<h1><a href="publications/articles">Publications list</a></h1>
<h1><a href="publications/authors">Authors list</a></h1>
-->

<div class="container">

  <div class="row">

    <div class="col-md-3">
      <h3><a href="#">About Journal</a></h3>
      <p>
        We publish original scientific studies, review and educational
        articles, and papers commenting on the clinical, scientific,
        social, political, and economic factors affecting health.
      </p>
      <a href="#" class="btn btn-default">Read more...</a>
    </div>

    <div class="col-md-3">
      <h3><a href="#">For authors</a></h3>
      <p>
        Interested in submitting to this journal? We recommend that
        you review the About the Journal page for the journal's
        section policies, as well as the Author Guidelines. Authors
        need to register with the journal prior to submitting or, if
        already registered, can simply log in and begin the two-step
        process.
      </p>
      <a href="#" class="btn btn-default">Read more...</a>
    </div>

    <div class="col-md-3">
      <h3><a href="#">For readers</a></h3>
      <p>
        We encourage readers to sign up for the publishing
        notification service for this journal. Use the Register link
        at the top of the home page for the journal. This registration
        will result in the reader receiving the Table of Contents by
        email for each new issue of the journal. This list also allows
        the journal to claim a certain level of support or
        readership. See the journal's Privacy Statement, which assures
        readers that their name and email address will not be used for
        other purposes.
      </p>
      <a href="#" class="btn btn-default">Read more...</a>
    </div>

    <div class="col-md-3">
      <h3><a href="#">For librarians</a></h3>
      <p>
        We encourage research librarians to list this journal among
        their library's electronic journal holdings. As well, it may
        be worth noting that this journal's open source publishing
        system is suitable for libraries to host for their faculty
        members to use with journals they are involved in editing.
      </p>
      <a href="#" class="btn btn-default">Read more...</a>
    </div>

  </div>

</div>

{% endblock %}
